#title1{

    border-style: solid
}

#title {

color:black;
text-align:center;
border-bottom-style: solid

}
#container{
text-align:center;
border-style: solid
}

body{

    background-image: url(http://ak4.picdn.net/shutterstock/videos/776404/thumb/1.jpg)
}



